python/venv/
python/__pycache__/

rename_files/venv/
rename_files/__pycache__/


python/venv/
AppLauncher/venv/

python/houdini/__pycache__
python/ui/__pycache__
python/ui/ui_qtDesigner
python/houdini/otls
*/__pycache__*

*.pyc
*.pyo

*.hda
*.otl

*/otl*
*/geo*
*/otls*
*/vex
