python/venv/
python/__pycache__/

rename_files/venv/
rename_files/__pycache__/


python/venv/
AppLauncher/venv/

python/houdini
python/houdini/__pycache__
python/ui/__pycache__
python/ui/ui_qtDesigner
*/__pycache__*

*.pyc
*.pyo